/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 8px 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0056b3;
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #007bff;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Botão */
button {
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btnExcluir {
    text-decoration: none;
    color: #fff;
    background-color: #dc3545;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
}

/* Mensagem de erro */
p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}